@import "./base";
* {
  margin: 0;
  padding: 0;
  color: white;
}

.main {
  min-height: 88vh;
  margin-top: 12vh;
  width: 100%;
  background-image: url("./img/alsace.jpg");
  background-position: center;
  background-repeat: repeat-y;
  background-size: cover;
  font-family: "Indie Flower", cursive;
  font-size: 1.1rem;
  font-weight: 600;
  box-sizing: border-box;
  text-align: center;
  h1 {
    color: white;
    margin-bottom: 2rem;
  }
  &__content {
    width: 100%;
    background-color: rgb(245, 223, 151, 0.5);
    min-height: 88vh;
    height: 100%;
    padding-bottom: 20vh;
    box-sizing: border-box;
    padding-top: 4rem;
  }
  &__result {
    background-color: white;
    width: 60%;
    margin: auto;
    color: black;
    border-radius: 5rem;
    padding-bottom: 0.8rem;
  }
}
#form {
  display: flex;
  background-color: #fff;
  color: black;
  height: 2.3rem;
  margin: auto;
  background-color: rgb(11, 81, 165);
  border-radius: 4rem;
  width: 60%;
  margin-bottom: 2rem;
  label {
    width: 40%;
    margin: auto 0;
  }
  input[type="text"] {
    border: none;
    outline: none;
    color: black;
    box-sizing: border-box;
    padding: 0.7rem;
    background-color: rgb(245, 223, 151);
    width: 30%;
    &::placeholder {
      color: rgb(11, 81, 165);
      font-family: "Indie", cursive;
    }
  }
  input[type="submit"] {
    cursor: pointer;
    width: 30%;
    border-bottom-right-radius: 5rem;
    border-top-right-radius: 5rem;
    border: none;
    outline: none;
    background-color: rgb(11, 81, 165);
    transition: background-color 10ms;
    font-family: "Indie", cursive;
    &:active {
      background-color: rgb(245, 223, 151);
    }
  }
}
@media (max-width: 600px) {
  html {
    font-size: 80%;
  }
  #form {
    width: 0;
    width: 90%;
    height: 6vh;
  }
  .main__result {
    width: 0;
    width: 90%;
  }
}
@media (min-width: 601px) and (max-width: 801px) {
  html {
    font-size: 90%;
  }
  #form {
    width: 0;
    width: 90%;
    height: 8vh;
  }
  .main__result {
    width: 0;
    width: 90%;
  }
}
.inert {
  box-sizing: border-box;
  padding: 1rem;
  border-bottom: 3px solid rgb(11, 81, 165);
  width: 70%;
  margin: auto;
  margin-bottom: 0.8rem;
  color: black;
  font-size: 1.3rem;
}
